Importing the Basic Libraries

In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
import xgboost as xgb
import lightgbm as lgb
import catboost as cat
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import StratifiedKFold
import optuna

Importing the EWQI data

In [2]:
ewqi_data = pd.read_csv('./quality_estimate_and_entropy_wqi.csv')
ewqi_data.head()

,PH,EC,TDS,ALK,TH,F,CL,NO3,SO4,CA,MG,qi_wi,EWQI,EWQI_CLASSIF
0,83.333333,1696.666667,341.0,608.333333,150.000000,186.666667,383.6,53.333333,138.4,106.666667,200.000000,307.655924,307.655924,Unsuitable
1,82.000000,4736.666667,952.1,691.666667,433.333333,442.666667,1349.2,3555.555556,516.0,240.000000,690.000000,1274.533598,1274.533598,Unsuitable
2,78.000000,228.333333,45.9,208.333333,73.333333,29.333333,20.0,4.444444,0.8,69.333333,73.333333,59.095708,59.095708,Poor
3,79.333333,3553.333333,714.2,675.000000,266.666667,746.666667,994.0,71.111111,177.2,186.666667,363.333333,636.424848,636.424848,Unsuitable
4,68.666667,433.333333,87.1,208.333333,93.333333,33.333333,34.0,511.111111,68.4,85.333333,96.666667,151.448314,151.448314,Unsuitable

In [ ]:
import statsmodels.api as sm

X = ewqi_data.drop(['EWQI','EWQI_CLASSIF','qi_wi'], axis=1)
y = ewqi_data['EWQI_CLASSIF']